/* ----------Font-weight---------------- */
:root{
    --header-height:3.5rem;
    --hue:230;
    --first-color:hsl(var(--hue), 55%,55%);
    --first-color-light:hsl(var(--hue), 55%, 65%);
    --first-color-alt:hsl(var(--hue), 40%, 45%);
    --title-color:hsl(var(--hue), 30%, 95%);
    --text-color:hsl(var(--hue), 20%, 80%);
    --text-color-light:hsl(var(--hue), 20%, 70%);
    --body-color:hsl(var(--hue), 40%, 16%);
    --container-color:hsl(var(--hue), 40%, 20%);
    
    /* font and sizes */

    --body-font:"Josefin Sans", sans-serif;
    --biggest-font-siza:3rem;
    --big-font-size:1.5rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size: .938rem;
    --small-font-size:.813rem;
    --z-fixed:100;
    --z-tooltip:10;
    --font-bold:700;
    --font-regular-size:400;
    --font-semi-bold:600;
    --font-bold:700;

}
/* ------------Responsive items---------------- */
@media  screen and (min-width:1150px) {
    :root{
        --biggest-font-siza:5.5rem;
        --big-font-size:2.75rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1.125rem;
        --small-font-size:.875rem;
        
    }
}
/* ----------Reusable CSS Classess------------- */
body{
    color: var(--text-color);
    background-color: var(--body-color);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body,
input,
textarea,
button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
input,button{
    border: none;
    outline: none;
}
h1,h2,h3 {
    color: var(--title-color);
    font-weight: 600;
}
p{
    line-height: 130%;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;

}
.section{
    padding-block: 5rem 2rem;
}
.section_title{
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
}
.main{
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.fa-solid{
    color: white;
}    
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);

}
.nav_logo{
    /* padding-left: 30px; */
    color: var(--title-color);
    font-weight: bold;
    transition: color .4s;
}
.nav_logo:hover{
    color: var(--first-color-alt);
}
.nav_toggle{
    /* right: 2rem; */
    margin-right: -10px;
}
.nav_toggle,.nav_close{
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}
/* ----------------navigation for mobile devices------------ */
@media screen and (max-width:1150px) {
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(var(--hue), 70%, 4%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 250px;
        height: 100%;
        padding: 7rem 3rem;
        transition: right .4s;
    }
}
.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.nav_link{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.nav_link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--first-color-light);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: .3s;
}
.nav_link:hover{
    color: var(--first-color-light);
}
.nav_link:hover::after{
    width: 30%;
}
.nav_close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;

}
.show-menu{
    right: 0;
}
/* ---------Home-------------- */
.home_container{
    row-gap: 2rem;
    padding-top: 1rem;

}
.home_img{
    width: 420px;
    justify-content: center;
    mask-image: linear-gradient(to bottom, 
                          hsla(var(--hue), 40%, 16%) 60%,
                           transparent 100%);
}
.home_name{
    font-size: var(--biggest-font-siza);
    font-weight: var(--font-bold);
    word-break: break-word;
    margin-bottom: 1rem;
}
.home_profession{
    position: relative;
    font-size: var(--big-font-size);
    color: var(--text-color);
}
.home_profession::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 15%;
    height: 3px;
    background-color: var(--text-color);
}
.home_scroll{
    color: var(--title-color);
    display: inline-flex;
    column-gap: .5rem;
    align-items: center;
    justify-self: center;
    margin-top: 2rem;
}
.home_scroll_box{
/* background-color: var(--first-color); */
width: 25px;
height: 25px;
display: grid;
place-items: center;
font-size: 1.5rem;
overflow: hidden;
}
.home_scroll_text{
    font-weight: var(--font-semi-bold);
}
/* -----------------------Animate Scroll Icon---------- */
.home_scroll_box i{
    animation: scroll-down 3s infinite;
}
@keyframes scroll-down{
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(.6rem);
        opacity: 0;
    }
}
/* -----------------Recent qworks-------- */
.work{
    background-color: var(--container-color);
}
.work_card{
    background-color: var(--first-color);
}
.work_link{
    display: block;
    position: relative;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    color: var(--text-color);
    transition: transform .4s;

}
.work_title{
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}
.work_description{
    margin-bottom: 1.5rem;
}
.work_link i{
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color-light);
    transition: transform .4s;
}
.work_link:hover{
    transform: translateY(-.5rem);
}
/* ---------my info------------ */
.info_container{
    row-gap: 3rem;

}
.info_title{
    position: relative;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: 2rem;
}
.info_title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 20px;
    height: 2px;
    background-color: var(--text-color);
}
.about{
    row-gap: 3rem;
}
.about_description{
    margin-bottom: 2rem;
}
.about_img{
    width: 400px;
    /* justify-self: center; */
    mask-image: linear-gradient(to bottom, 
    hsla(var(--hue), 40%, 16%) 60%,
     transparent 100%);
}
.button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    padding: 1rem 1.5rem;
    transition: background-color .4s;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.about_description b{
    color: var(--first-color-light);
}
.about_button{
    width: 100%;
}

/* ---------Experience-------- */
.experience_content{
    row-gap: 2rem;
}
.experience_data{
    row-gap: 1rem;

}
.experience_company{
    margin-bottom: .60rem;
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}
.experience_profession{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.experience_data{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .75rem;
}

/* -----------------skills----------- */
.skills_img{
    margin-bottom: .5rem;
}
.skills_name{
    font-size: var(--small-font-size);
}
.skills_content{
    grid-template-columns: repeat(3, max-content);
    justify-content: space-around;
    align-items: flex-end;
}
.skills_box{
    display: grid;
    place-items: center;
    transition: transform .4s;
}
.skills_box:hover{
    transform: translateY(-.25rem);
}
.services{
    background-color: var(--container-color);

}
.services_container{
    row-gap: 2rem;
}
.services_icon{
    display: block;
    color: var(--first-color-light);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.services_title{
font-size: var(--h3-font-size);
margin-bottom: .75rem;
}

/* -----------CONTACT----------------- */
.contact_container{
    row-gap: 4rem;
}
.contact_group,.contact_form{
    position: relative;
}
.contact_input{
    padding: 1.25rem;
    background-color: var(--container-color);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
.contact_input::placeholder{
    color: var(--title-color);
}
.contact_area{
    height: 10rem;
    resize: none;

}
.contact_button{
    margin-top: 1rem;
    cursor: pointer;
}
.contact_social{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
}
.contact_social_link{
    color: var(--title-color);
    display: inline-flex;
    column-gap: .25rem;
    align-items: center;
    transition: color .4s;
}
.contact_social_link i{
    font-size: 1.5rem;
}
.contact_social_link span{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}
.contact_social_link:hover{
    color: var(--first-color-light);
}
.contact_message{
    position: absolute;
    left: 0;
    bottom: -2rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);

}

/* -------------FOOTER--------------- */
.footer{
    background-color: var(--container-color);
}
.footer_container{
    padding-block: 3rem 2rem;
    row-gap: 3rem;

}
.footer_links{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.footer_link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition:  color .4s;
}
.footer_link:hover{
color: var(--first-color-light);
}
.footer_copy{
    color: var(--title-color);
    font-size: var(--small-font-size);
    text-align: center;
}

/* ACTIVE LINK======= */
.active-link{
    color: var(--first-color-light);
}
.active-link::after{
    width: 30%;
}
/* ---------------SCROLL-BAR------------- */
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(var(--hue), 20%, 20%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(var(--hue), 20%, 30%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--hue), 20%, 40%);
}
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    display: inline-flex;
    padding: 6px;
    color: var(--title-color);
    font-size: 1rem;
    box-shadow: 0 4px 12px hsla(var(--hue), 30%, 8%, .3);
    z-index: var(--z-tooltip);
    transition: bottom .4s transform .4s;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}
.show-scroll{
    bottom: 3rem;
}
/* screen for phone------- */
@media screen and (max-width:300px) {
    .container{
        margin-inline: 1rem;
    }
    .home_name{
        font-size: 2rem;
    }
    .skills_content{
        grid-template-columns: repeat(2, max-content);
    }
    .nav_toggle{
        margin-right: 10px;
    }
    
}
/* for medium device{
 */
 @media screen and (max-width:540px) {
    .home_name{
        font-size: 2rem;
    }
    
 }
 @media screen and (min-width: 540px) {
    .home_container, .services_container,.contact_container,.info_container{
        grid-template-columns: 400px;
        justify-content: center;
    }
    .work_img{
        width: 300px;
    }
    .nav_toggle{
        margin-right: 10px;
    }
   
 }
 @media screen and (min-width:768px) {
    .nav_menu{
      width: 50%;
    }
    .home_container{
        grid-template-columns: repeat(2, 350px);
    }
    .home_data{
        align-self: flex-end;
        padding-bottom: 3rem;
        order: -1;
    }
    .home_name{
        /* font-size: 40px; */
    }
    .home_scroll{
        grid-column: 1 / 3;
    }
    .work_container{
        grid-template-columns: repeat(2, 350px);
    }
    .info_container{
        grid-template-columns: initial;
    }
    .about{
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }
    .about_content{
        order: 1;
    }
    .experience_data{
        grid-template-columns: repeat(2, 1fr);
    }
    .skills_content{
        grid-template-columns: repeat(4, max-content);
        justify-content: initial;
        column-gap: 8rem;
    }
   .services_container{
    grid-template-columns: repeat(2, 320px);
   }

 }
 @media screen and (min-width: 1150px) {
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 5rem;
    }
    .section_title{
        margin-bottom: 4rem;
    }
    /* .home_img{
        width: 800px;
    } */
    .nav{
        height: calc(var(--header-height) + 2rem);
    }
    .nav_toggle, .nav_close{
           width: initial;
           margin-right: -30%;
    }
    .nav_menu{
        width: initial;
    }
    .nav_list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .home_container{
        grid-template-columns: 375px 350px;
        gap: 3rem 16rem;
    }
    .home_img{
        width: 700px;
    }
    .home_name{
        margin-bottom: 1.5rem;
        font-size: 4rem;
    }
    .home_profession::after{
        bottom: -1rem;
        width: 35%;
    }
    .work_container{
        grid-template-columns: repeat(2, 540px);
        gap: 2.5rem;
    }
    .work_img{
        width: 500px;
    }
    .work_link{
        padding: 3rem 3rem 2rem;
    }
    .work_title{
        font-size: var(--h2-font-size);
        margin-bottom: 1rem;

    }
    .work_link i{
        font-size: 2rem;
    }
    .info_container{
        row-gap: 4rem;
    }
    .info_title{
        font-size: var(--normal-font-size);
        margin-bottom: 3.5rem;
    }
    .about{
        grid-template-columns: 320px 420px;
        column-gap: 11.5rem;
    }
    .about_img{
        width: 420px;
    }
    .about_description{
        margin-bottom: 3rem;
    }
    .about_button{
        width: initial;
    }
    .experience_content{
        row-gap: 4rem;
    }
    .experience_data{
        grid-template-columns: 320px 380px;
        column-gap: 11.5rem;
    }
    .experience_company{
        font-size: var(--h1-font-size);

    }
    .experience_profession{
        margin-bottom: .5rem;
    }
    .experience_date{
        font-size: var(--normal-font-size);
        margin-bottom: 1.5rem;

    }
    .skills_content{
        grid-template-columns: repeat(3, max-content);
    }
    .services_container{
        grid-template-columns: repeat(2,350px);
    }
    .contact_container{
        grid-template-columns: 580px;
    }
    .contact_group{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact_area{
        height: 15rem;
    }
    .contact_button{
        width: max-content;
        justify-self: center;
        margin-top: 1.5rem;
    }
    .contact_message{
        bottom: 4.5rem;
    }
    .contact_social{
        grid-template-columns: repeat(3, max-content);
        column-gap: 5rem;
    }
    .footer_container{
        padding: 30px;
    }
 }
 